{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Mon compte</h1>

		Gestion de mon compte:
		<ul>
			<li><ahref="{{ path('app_account_show') }}">Voir et editer mon compte</a></li>
			<li><ahref="{{ path('account_addresses') }}">Gerer mes adresses</a></li>
			<li><ahref="{{ path('account_order') }}">Voir mes commandes</a></li>
		</ul>
	</div>
{% endblock %}
