{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Mon compte</h1>

		<h3>Gestion de mon compte:</h3>
		<p>
			<a href="{{path('app_account_show')}}">Voir et editer mon compte</a><br>
			<a href="{{path('account_addresses')}}">Gerer mes adresses</a><br>
			<a href="{{path('account_order')}}">Voir mes commandes</a>
		</p>
	</div>
{% endblock %}
