<h1>Merci de confirmer votre emai !</h1>

<p>
    Merci de confirmer votre email en clickant sur ce lien :<br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
