@import url('https://fonts.googleapis.com/css2?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Mada');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
$primary-font: 'Nunito';
$secondary-font: 'Mada';
$logo-font: 'Roboto';
$color-1: #788981;
$color-2: #FAF2DD;
$color-3: #DF7F28;
$color-4: #D6413D;
$color-12: #424b46;
$bg_color: #b4cfc3;
