{% extends 'base.html.twig' %}

{% block title %}Modification de Categorie{% endblock %}

{% block body %}
    <h1>Modifier la Categorie {{category.name}}</h1>
    <article class="column">
        {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('category_index') }}" class="btn btn btn-outline-secondary m-2">Retour à la liste</a>

        {{ include('category/_delete_form.html.twig') }}
    </article>
{% endblock %}
