<div class="banner">
	<div class="container">
		<a class="banner-brand" href="{{path('app_home')}}"><img src="/images/logo-koikeu.jpg" height="150vh" alt="KoiKeu"></a>
		<div class="presentation">
			Décorations artisanales<br>
			Création de suspension
			<br>
			en bois flottés et macramé
			<br>
			&nbsp;<i class="fas fa-mobile-alt"></i>
			06 77 94 77 09
			{# {{ include('layout/partials/_connexion.html.twig') }} #}
		</div>
	</div>
</div>
