<div class="banner"> 
    <div class="container">
        <a class="banner-brand" href="{{path('app_home')}}"><img src="/images/logo-koikeu.jpg" height="150vh" alt="KoiKeu"></a>        
	        <div class="presentation">
            <p>Décorations artisanales <br>
            Création de suspension en  <br>
            bois flottés et macramé <br>
            <i class="fas fa-mobile-alt"></i> 06 77 94 77 09</p>
        </div>
    </div>
</div>