.banner {
    background-color: $color-1;
    color: #fff;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.banner-homepage {
    color: $color-1;
    background-color: #fff;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.banner-brand {
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    font-family: $text-font;
    &:hover{
        color: $color-2;
    }
}

.banner .container {
    all: unset;
    text-align: center;
}

.banner > .container > .menu a {
    color: $color-3;
    &:hover{
        color: $color-12;
    }
}

.banner > .container > .presentation {
    text-align: justify;
    width: 230px;
}

.presentation > .banner-menu {
    margin-left: -28px;
}

.presentation > .banner-menu li {
    display:inline;
    margin: 0 6px;
}


.presentation > .banner-menu li a {
    color: #dfebdb;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

@media only screen and ( min-width : 800px ){
    .banner .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }


}
