.nav-bar .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: $color-12;
    font-size: 1rem;
    // font-weight: bold;
    font-family: $text-font;
    &:hover{
        color: $color-3;
    }
}

.menu li {
    display:inline;
    margin: 0 6px;
}


.menu li a {
    color: #6c757d;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

@media only screen and ( min-width : 800px ){
    .nav-bar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
    }

    .categories-nav {
        justify-content: space-between;
        width: fit-content;
        flex-direction: row;
    }
}
