{% extends 'base.html.twig' %}

{% block title %}Annulation de commande
{% endblock %}

{% block body %}

	<h1>Oooops !!!</h1>
	<p>Votre commande a été annulée</p>

	{# <a href="{{ path('commande') }}">retour</a> #}
	<a href="#">retour</a>

{% endblock %}
