{% extends 'base.html.twig' %}

{% block title %}Merci pour votre achat !
{% endblock %}

{% block body %}

	<h1>Merci pour votre achat !</h1>
	<p>
		Nous sommes heureux de vous compter parmis nos clients. Pour toute question, contactez nous à :
		<a href="mailto:orders@example.com">mail@koikeu.com</a>.
	</p>


{% endblock %}
